.footer {
    display: flex;
    justify-content:flex-start;
    list-style: none;
    height:96px;
    width: 100% ;
    background-color: #343434;
    position:absolute;
    color: #DCE1DA;
  
    
  }
  .logo{
    margin: 40px 50px 40px auto;
    width: 86px;
    height: 20px;
    opacity: 1;
    display: flex;

  }
  .right{
    margin: 40px auto 40px 50px;
    display: flex;
    
  }