.footer{
    width: 100%;
    height: 100px;
    background-color: #343434;   
    
}
.padreFooter{
    display: flex;
    
}

.fecha{
    height: 96px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 50%;
    text-align: left;
    font: normal normal normal 16px/28px Roboto;
    letter-spacing: 0.22px;
    color: #DCE1DA;
    opacity: 1;
}
.wats{
    height: 96px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 50%;
    color: white;
}



@media(max-width:376px){
    .footer{
        margin-bottom: 0;
        height: auto;
    } 
}
@media(max-width:361px){
    .footer{
        margin-bottom: 0;
        height: auto;
        
    } 
}
