
.section3{
 height: 796px;
  width: 100% ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background:linear-gradient(to right,#F2F4F1,#DCE1DA)
}
.containerCarousel{
  background-color: #E0752F;
  height: 30%;
  width: 30%;


}
.color1{
  
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  
 
}
.color2{
  
  width: 50%;
  height: 50%;
  
 
}
.containerCarousel{
  width: auto;
  height: 100%;
}
.contenedorCarousel{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10% auto;
  text-align: left;  
  color: white;
  font-family: Roboto;
} 
 .tituloCarousel{
font-size: 180%;

font-family: Poppins;
} 

 
@media(max-width:900px){
  .color2{

    width: 100%;
    height: 40%;
  }
  .color1{
    

      width: 100%;
      height: 100%;
    
  }
}