.section3{
  height:768px;
  width: 100% ;
  display: flex;
  
}
.color1{
  height:768px;
  width: 70%;
  background-color: #F2F4F1;
 
}
.color2{
  width: 30%;
  height:768px;
  background-color: #DCE1DA;
  
}
.fotoCasa{
  width: 920px;
  height: 552px;
  position: absolute;
  /* top: 210%; */
  margin-top: 8%;
  left: 20%;
 
}
.rectangulo{
  position: absolute;
  width: 471px;
  height: 304px;
  background-color: #E0752F;
  left: 56%;
  margin-top: 500px;
  top: 210%;
  

}
.textoRectangulo{
  text-align: justify;
  padding: 50px;
  color: #FFFFFF;


}

@media (max-width:1154px) {
  .fotoCasa{
      display: none;
  }
}