.section3{
  height:768px;
  width: 100% ;
  display: flex;
  
}
.color1{
  height:768px;
  width: 70%;
  background-color: #F2F4F1;
 
}
.color2{
  width: 30%;
  height:768px;
  background-color: #DCE1DA;
  
}
.fotoCasa{
  width: 920px;
  height: 552px;
  position: absolute;
  /* top: 210%; */
  margin-top: 8%;
  left: 20%;
 
}
.hola{
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid red;
  left: 65%;
  margin-top: 500px;
}

@media (max-width:1154px) {
  .fotoCasa{
      /* width:500 px; */
      height: 500px;
      left: 10%;
  }
}