.section5{
    height:768px;
    width: 100% ;
    display: flex;
    
  }

  .color1{
    height:768px;
    width: 70%;
    background-color: #F2F4F1;
   
  }
  .color2{
    width: 30%;
    height:768px;
    background-color: #DCE1DA;
  }


  .fotoGlobos{
    width: 135%;
    height: 50%;
    position: relative;
    right: 70%;
    top: 25%;

}

.submitForm{
    background-color: #E0752F;
    border: none;
    width: 144px;
    height: 48px;
    /* text-align: center; */
    font: normal normal medium 16px/21px Roboto;
    letter-spacing: 0.22px;
    color: #FFFFFF;
    opacity: 1;
    border-radius: 25px;
    margin: 30px 10px 0px -10px;

}


/* .contact{

    width: 471px;
    height: 345px;
    left: 5%;
    margin-top: 140px; 
  } */
  .contact{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-top: 10%;
    
  }
  .form{
    width: 80%;
  }
  .titulo{
    font-family: Poppins;
    color: #E0752F;
    font-size: 39px;
    text-align: left;
}
.negro{
  color: #343434;
}
@media (max-width:1154px) {
    .color1{
      width: 100%;
    }
  }

  
  

    