

.padre{
    display: flex;
    height: 600px;
}
.borde{
    width: 5%;
    background-color: #E0752F;
    margin-top: 7%;
    height:70%;
   
}
.contenedorTexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tituloNegro{
    text-align: left;
    font: normal normal 600 39px/45px 'Poppins';
    letter-spacing: 0.55px;
    color: #343434;
    margin-bottom: 5%;
    margin-right: 32%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    
}
.tituloNaranja{
    color:#E0752F ;
}
.parrafo{
    width: 60%;
    margin-left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width:1281px){
.parrafo{
    margin-left: 0%;
}
.tituloNegro{
    margin-right: 29%;
}
}
@media(max-width:1025px){
.tituloNegro{
    margin-right: 15%;
}
.borde{
    width: 10%;
}
}
@media(max-width:912px){
    .borde{
        width: 15%;
    }
    .tituloNegro{
        margin-right: 8%;
    }
}

@media(max-width:769px){
    .borde{
        width: 15%;
    }
    .tituloNegro{
        margin-right: 0%;
    }
}
@media(max-width:560px){
    .borde{
        display: none;
    }
    .parrafo{
        margin-left: 0%;
    }
}
@media(max-width:442px){
   .texto{
        margin-left: 20px;
   }
   .tituloNegro{
       width:330px;
       margin-left: 20px;
   }
 }
 @media(max-width:415px){
    .borde{
       display: none;
    }
   .parrafo{
       width: 100%;
       margin-left: 0%;
       width: 90%;
   }
   .tituloNegro{
       margin-right: 0%;
       margin-top: 0%;
       font-size:30px;
   }
   
 }
 @media(max-width:394px){
    .tituloNegro{
        margin-top: 0%;
    }
 }

 @media(max-width:376px){
     .borde{
        display: none;
     }

    .tituloNegro{
        width:330px;
        margin-left: 10%;
        margin-right: 0px;
        font-size:30px;
    }
    .parrafo{
        width: 300px;
    }
  }
  @media(max-width:361px){
   .tituloNegro{
       margin-top: 15%;
   }
    
}
 @media(max-width:281px){
        .parrafo    {
            width: 220px;
            margin:0%;
            font-size: small;
            margin-left: -10%;
            
        }
        .tituloNegro{
            font-size: 20px;
            margin-top: 10%;
            margin-right: auto;
            width: auto;
        }
        .contenedorTexto{
            width: 100%;
        }
        
 }