/* .section2{
    height: 600px;
    
}

.fila{
    height: 108px;
    
}
.bordeVertical{
    width: 2%;
    background-color: #E0752F;
    margin-top: 10%;height:384px;
    
    
    
    
}
.contenedorSection2{
    margin-top: 12%;
    margin-left: 16%;  
    width: 750px;
}
.tituloNegro{
    text-align: left;
    
    font: normal normal 600 39px/45px 'Poppins';
    
    letter-spacing: 0.55px;
    color: #343434;
    margin-bottom: 8%;
    
    
}
.tituloNaranja{
    color:#E0752F ;
}

p{
    width: 100%;
    font-size: 16px;
    
}




@media (max-width: 918px){
    .contenedorSection2{
       margin-left: 0%;

        
    }
    
    
}
@media (max-width:771px){
    .contenedorSection2{
        margin-top: -45%;
        margin-left: 5%;
        
    }
    
}
@media (max-width:641px){
    .contenedorSection2{
        margin-top: 10%;    
        margin-left: 5%;
        width: 500px;
        
    }
}
@media (max-width:551px){
    .contenedorSection2{
        margin-top: 10%;    
        margin-left: 5%;
        width: 400px;
    }
    .tituloNegro{
        font-size: 30px;
    }
}
@media (max-width:445px){
    .contenedorSection2{
        margin-top: 10%;    
        margin-left: 5%;
        width: 350px;
    }
    .tituloNegro{
        font-size: 25px;
    }
}
@media (max-width:394px){
    .contenedorSection2{
        margin-top: 10%;    
        margin-left: 5%;
        width: 32   0px;
        
    }
    .tituloNegro{
        font-size: 25px;
        margin-bottom: 0;
    }
    
} */

.padre{
    display: flex;
    height: 600px;
}
.borde{
    width: 30px;
    background-color: #E0752F;
    margin-top: 7%;
    height:384px;
   
}
.texto{
display:flex;
flex-direction: column;
width: 80%;
justify-content: center ;
align-items: center;

/* margin-top: 100px;
margin-left: 400px; */
/* flex-wrap: wrap; */
}
.tituloNegro{
    text-align: left;
    
    font: normal normal 600 39px/45px 'Poppins';
    
    letter-spacing: 0.55px;
    color: #343434;
    margin-bottom: 5%;
    margin-right: 12%;
}
.tituloNaranja{
    color:#E0752F ;
}
p{
    width: 750px;
    margin-left: 200px;
}
@media(max-width:791px){
    p{
        width: 500px;
        margin-left: 50px;
    }
}
@media(max-width:564px){
   .tituloNegro{
       font-size: 30px;
   }
   .texto{
    margin-top: -45px;
   }
   .borde{
       margin-top: 80px;
   }
   p{
       width: 400px;
   }
}
@media(max-width:442px){
   .texto{
        margin-left: 20px;
   }
   .tituloNegro{
       width:330px;
       margin-left: 20px;
   }
 }
 @media(max-width:413px){
    .borde{
       display: none;
      
    }
   .texto{
       margin-left: 12px;
   }
   
 }

 @media(max-width:400px){
     .borde{
        display: none;
       
     }
    .texto{
        margin-left: 50px;
    }
    .tituloNegro{
        width:330px;
        margin-left: 20px;
    }
  }
 
 @media(max-width:281px){
        .texto{
            width: 10px;
            margin-left: 150px;
            
        }
        
 }