
// PARA REMPLAZAR COLOR DEL BOTON DE BOOTSTRAP
$primary: #E0752F;
$navbar-light-hover-color: #E0752F;
$navbar-light-color:white;

//importamos bootstrap en mi sass
@import 'bootstrap/scss/bootstrap.scss';


body {
    margin: 0;
    font-family: 'Roboto',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }
  /* borra los puntos de las lista desordenada */
  ul{
    list-style: none;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .fondoImagen{
    background-image: url("../public/assets/img/fondo.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 768px;
   background-size: cover;
   width: 100%;
    
  }