.section4{
    display: flex;
    height: 60%;
}
.col1{
    width: 40%;
}
.col2{
    width: 60%;
    
}
.fotoCorredor{
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#accordionExample{
    position: relative;
    left: 20%;
    top: 20%;
}

@media(max-width:376px){
    .col2{
        display: none;
    }
    .col1{
        width: 80%;
        
    }
    #accordionExample{
        left:10% ;
        top: 10%;
    }
}