.section4{
    height:768px;
    width: 100% ;
    display: flex;
    /* display: block; */

    
  }

.accordion{
    position: absolute;
    width: 669px;
    height: 376px;
    left: 5%;
    top: 398%; 
}

.fotoCorredor{
    width: 770px;
    height: 768px;
    position: relative;
    left:39%; 
    


}